---
---

// Variables

$main: #1a222c;
$sec: #4B5664;
$purple: #54516A;
$light: #FFF;
$cut: 768px;

$h1-size: 100px;
$h2-size: 40px;
$icon-size: 35px;

$footer-height: 88px;

@import url( 'https://fonts.googleapis.com/css?family=Montserrat');

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    background: $main;
    color: $light;
    text-align: center;

    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto $footer-height;
}

h1 {
    font-size: $h1-size / 2;
    margin: 0;

    @media only screen and (min-width:$cut) {
        font-size: $h1-size;
    }
}

h2 {
    font-size: $h2-size / 2;
    margin: 5px 0 10px;

    @media only screen and (min-width:$cut) {
        font-size: $h2-size;
    }
}

a {
    text-decoration: none;
    color: inherit;

    &:hover {
        color: $sec;
    }

    &:active {
        color: $sec;
    }
}

main {
    grid-row: 1;
    align-self: center;
    transform: translateY($footer-height / 2);

    .icons-container {
        display: flex;
        justify-content: center;

        .icon {
            width: $icon-size / 2;
            height: $icon-size / 2;
            font-size: $icon-size / 2;
            padding: 10px;
            margin: 2px;
            border-radius: 50%;
            border: 2px solid $light;

            &:hover {
                color: $main;
                background: $light;
            }

            &:active {
                color: $main;
                background: $light;
            }

            @media only screen and (min-width:$cut) {
                width: $icon-size;
                height: $icon-size;
                font-size: $icon-size;
            }
        }
    }
}

footer {
    grid-row: 2;
    align-self: end;

    .love {
        color: red;
    }
}
