<!DOCTYPE html>
<html lang="en">
{% include head.html %}

<body>
    <main>
        <h1>{{site.username}}</h1>
        <h2>{{site.user_subtitle}}</h2>
        <div class="icons-container">
            <a aria-label="Github" target="_blank" href="https://github.com/{{site.github_username}}"><i class="icon fa fa-github" aria-hidden="true"></i></a>
            <a aria-label="LinkedIn" target="_blank" href="https://www.linkedin.com/in/{{site.linkedin_username}}"><i class="icon fa fa-linkedin" aria-hidden="true"></i></a>
        </div>
    </main>
    {% include footer.html %}
</body>

</html>
